body {
  margin: 20px;
  padding: 0;
  font-family: Arial;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #A1D490;
  background-color: #E2D1E8
}

.meal {
  width: 40%;
  padding: 10px;
  margin:10px auto;
  border: 1px dotted blue;
}

.selected {
  color: #D4A190;
}

img {
  margin-top: 100px;
}
